include qudy
include *.txt
prune PACKAGING.txt
prune CHANGES.txt
recursive-include examples/composite-pulses *.py
recursive-include examples/decay *.py
recursive-include examples/noise *.py
recursive-include examples/quantum-gates *.py
recursive-include docs/build/html *
recursive-include docs/build/latex *.pdf
